<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SquaredUp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF8CB3DD1CB1F26700DF8028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF8CB3F91CB1F26800DF8028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF8CB4041CB1F26800DF8028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
